.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.search {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search-bar {
  width: 75%;
  height: 80%;
  font-size: 1.6rem;
}

.search-button {
  width: 16%;
  height: 80%;
  font-size: 1.6rem;
}

.helper-text {
  font-size: 1.3rem;
  margin: 15px;
}

.app-body {
  display: flex;
  justify-content: space-evenly;
}

.search-results {
  width: 70%;
}

.past-searches {
  width: 20%;
}

.search-results-header {
  background-color: rgb(177, 177, 177);
  font-size: 2rem;
}

.search-result {
  margin: 5px;
  padding: 10px;

  display: flex;
  justify-content: space-between;

  border: 2px solid black;
  color: black;
  text-decoration: none;
}

.past-searches-header {
  background-color: rgb(177, 177, 177);
  font-size: 2rem;
}

.past-search {
  font-size: 1.6rem;
  cursor: pointer;
  color: rgb(255, 137, 122);
}

.comment {
  background-color: rgb(126, 165, 248);
}

.story {
  background-color: rgb(190, 255, 190);
}

.r {
  color: rgb(255, 137, 122);
}

.g {
  color: rgb(160, 224, 160);
}

.b {
  color: rgb(126, 165, 248);
}
